<div class="background">

  <div class="banner">
      <div class="banner-title">
        <h1 class="neon">New Watchlist!</h1>
      </div>
      <div class="deco">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>

  <div class="body">
    <div class="new-list">
      <h2>Create a new list</h2>
      <%= simple_form_for @list do |f| %>
        <%= f.input :name, placeholder: 'Drama', class:"name-input" %>
        <%= f.submit class: 'btn-yes' %>
      <% end %>
      <%= link_to 'Cancel', lists_path, class: "btn-back" %>

    </div>
  </div>
</div>
