.background {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.banner {
  background-image:
   linear-gradient(to bottom, rgba(0, 0, 0, 0.082),rgba(0, 0, 0, 0.171)),
    url("index-cinema.jpg");
  background-size: cover;
  background-position: center;
  // background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  h1{
    color: white;
  }
}

.body {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.index-top {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cards {

}

.film-card {
  background-image:
   linear-gradient(to bottom, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)),
    url("googie-3.png");
  background-size: cover;
  background-position: center;
  height: 249px;
  width: 533px;
  display: flex;
  justify-content: center;
  align-items: center;

}

h3 {
  padding: 0;
}
