.background {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, rgb(9, 36, 75) 30%, rgb(28, 100, 202) 80%, rgba(235, 136, 54, 0.753) 100%);
}


// .banner {
//   background-image:
//    linear-gradient(to bottom, rgba(0, 0, 0, 0.082),rgba(0, 0, 0, 0.171)),
//     url("index-cinema.jpg");
//   background-size: cover;
//   background-position: center;
//   // background-repeat: no-repeat;
//   height: 400px;
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   h1{
//     color: white;
//   }
// }

.body {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.index-top {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  // justify-content: space-between;
  h2 {
    font-family: 'southernaire';
    font-size: 120px;
    color: #fab8fa;
    text-shadow:
    0 0 1px #ff00ff,
    0 0 7px #ff00ff,
    0 0 10px #fc23f1,
    0 0 21px #fa2ff0,
    0 0 42px #f73fed,
    0 0 82px #f84df0,
    0 0 92px #f580ef,
    0 0 102px #f79af2,
    0 0 151px #f5b0f1;
  }
}





.list-card {
  background-image:
   linear-gradient(to bottom, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)),
    url("googie-3.png");
  background-size: cover;
  background-position: center;
  height: 249px;
  width: 533px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow:
    0 0 3px #f3f3f3,
    0 0 17px #d892df,
    0 0 30px #D11EE1,
    0 0 82px #ea03ff,
    0 0 152px #D11EE1,
    0 0 1501px #c95ed3;
  a {
    font-family: 'southernaire';
    font-size: 80px;
    color: #fab8fa;
    text-shadow:
    0 0 1px #ff00ff,
    0 0 7px #ff00ff,
    0 0 10px #fc23f1,
    0 0 21px #fa2ff0,
    0 0 42px #f73fed,
    0 0 82px #f84df0,
    0 0 92px #f580ef,
    0 0 102px #f79af2,
    0 0 151px #f5b0f1;
  }
  transition: 0.7s;
}

.list-card:hover {
  transform: scale(1.05);
  a {
    text-decoration: none;
  }
}

h3 {
  padding: 0;
}

.footer {
  background-image:
   linear-gradient(to bottom, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)),
    url("googie-footer.png");
  background-size: cover;
  background-position: center;
  height: 249px;
  width: 100%;

}
