.inline-btns {
  display: flex;
  justify-content: space-between;
}

.btn-back {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image:
   linear-gradient(to bottom, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)),
    url("googie-back.png");
  background-size: contain;
  background-position: center;
  height: 100px;
  width: 200px;
  background-repeat: no-repeat;
  transition: 0.5s;
  font-family: 'remachine';
  font-size: 50px;
  color: #000000;
  // text-shadow:
  // 0 0 1px #ff00ff,
  // 0 0 7px #ff00ff,
  // 0 0 10px #fc23f1,
  // 0 0 21px #fa2ff0,
  // 0 0 42px #f73fed,
  // 0 0 82px #f84df0,
  // 0 0 92px #f580ef,
  // 0 0 102px #f79af2,
  // 0 0 151px #f5b0f1;
}

.btn-back:hover {
  transform: scale(1.1);
  color: #FFC2FF;
  text-decoration: none;
  text-shadow:
  0 0 1px #ff00ff,
  0 0 7px #ff00ff,
  0 0 10px #fc23f1,
  0 0 21px #fa2ff0,
  0 0 42px #f73fed,
  0 0 82px #f84df0,
  0 0 92px #f580ef,
  0 0 102px #f79af2,
  0 0 151px #f5b0f1;
}

.btn-yes{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image:
   linear-gradient(to bottom, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)),
    url("googie-on.png");
  background-size: contain;
  background-position: center;
  height: 100px;
  width: 200px;
  background-repeat: no-repeat;
  transition: 0.5s;
  font-family: 'remachine';
  font-size: 50px;
  color: #000000;
  background-color: transparent;
  border: none;
}

.btn-yes:hover {
  transform: scale(1.1);
  color: #FFC2FF;
  text-decoration: none;
  text-shadow:
  0 0 1px #ff00ff,
  0 0 7px #ff00ff,
  0 0 10px #fc23f1,
  0 0 21px #fa2ff0,
  0 0 42px #f73fed,
  0 0 82px #f84df0,
  0 0 92px #f580ef,
  0 0 102px #f79af2,
  0 0 151px #f5b0f1;
}

.btn-del{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image:
   linear-gradient(to bottom, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)),
    url("googie-warning.png");
  background-size: contain;
  background-position: center;
  height: 100px;
  width: 200px;
  background-repeat: no-repeat;
  transition: 0.5s;
  font-family: 'remachine';
  font-size: 50px;
  color: #000000;

}

.btn-del:hover {
  transform: scale(1.1);
  color: #FFC2FF;
  text-decoration: none;
  text-shadow:
  0 0 1px #ff00ff,
  0 0 7px #ff00ff,
  0 0 10px #fc23f1,
  0 0 21px #fa2ff0,
  0 0 42px #f73fed,
  0 0 82px #f84df0,
  0 0 92px #f580ef,
  0 0 102px #f79af2,
  0 0 151px #f5b0f1;
}
